<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wait</title>
    <style>
        body {
            text-align: center;
            margin: auto;
            background-size: cover;
            background-color: #e47386;
            display: flex;
            flex-direction: column;
        }
    </style>
</head>

<body>
    {{gettext("Waiting for a driver to accept your ride request")}}
    <a href="/ridePreCancel">{{gettext("Cancel")}}</a>
    <button onclick="location.reload()">{{gettext("Refresh")}}</button>
</body>

</html>